<div id="login_bar" xmlns="http://www.w3.org/1999/html">
    {% if user.is_authenticated %}
    <form action="/user/logout/" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p style="margin: 0%"><a href="/articles/user/{{ user.username }}" id="user">{{ user.username }}</a>
                <button id="logout-btn" class="btn btn-default">log out</button></p>
            </div>
        </div>
    </form>
    {% else %}
        <div class="panel panel-default">
        <div class="panel-heading">
        <p style="margin: 0;"><button id="register" class="btn btn-default">register</button>
        <button id="login" class="btn btn-default">log in</button></p>
        </div>
        <form action="/user/register/" method="post" id="register-form">
            <div class="panel-body">
            <table>
                <tr>
                    <td>
                        Username:
                    </td>
                    <td>
                        <input type="text" name="username">
                    </td>
                </tr>
                <tr>
                    <td>
                        First name:
                    </td>
                    <td>
                        <input type="text" name="first_name">
                    </td>
                </tr>
                <tr>
                    <td>
                        Last name:
                    </td>
                    <td>
                        <input type="text" name="second_name">
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        <input type="email" name="email">
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        <input type="password" name="password">
                    </td>
                </tr>
                <tr>
                    <td>
                        Repeat:
                    </td>
                    <td>
                        <input type="password">
                    </td>
                </tr>
            </table>
        <input id="register-btn" class="btn btn-primary" type="submit" value="Register">
        </div>
        </form>
        <form action="/user/login/" method="post" id="login-form">
            <div class="panel-body">
            <table>
                <tr>
                    <td>
                        Username:
                    </td>
                    <td>
                        <input type="text" name="username">
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        <input type="password" name="password">
                    </td>
                </tr>
            </table>
            <input id="login-btn" class="btn btn-primary" type="submit" value="Log in">
            </div>
        </form>
        </div>
    {% endif %}
</div>