<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title></title>
    <script type="application/javascript" src="/static/js/jquery-2.1.3.js"></script>
    <script type="application/javascript" src="/static/scripts/login.js"></script>
    <script type="application/javascript" src="/static/scripts/articles.js"></script>
</head>
<body>
    <div id="bar">
        {% include "login_bar.html" with user=user %}
    </div>
    <p id="article-id">{{ article.id }}</p>
    <p>Title: <input id="article-name" type="text" size="100" value="{{ article.article_name }}"></p>
    <p>Text: <textarea id="article-text" rows="20" cols="100">{{ article.article_text }}</textarea></p>
    <input id="article-save" type="button" value="save">
</body>
</html>