{% extends "base_articles.html" %}
{% block title %}
    Minblog
{% endblock %}
{% block content %}{{ block.super }}
    {% include "nav_bar.html" %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div id="articles" class="col-md-6">
            {% for article in articles %}
                <div class="article" articleID="{{ article.id }}">
                    <a href="/articles/{{ article.id }}/">
                        <h1 class="article-header">{{ article.article_name }}</h1>
                    </a>
                    <p>Author: {{ article.author }}</p>
                    <p>{{ article.article_text | safe }}</p>
                    {% include "comments_area.html" %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}